[submodule "asymsam-api"]
	path = api
	url = https://github.com/eliocamp/asymsam-api
	branch = main
[submodule "asymsam-scripts"]
	path = scripts
	url = https://github.com/eliocamp/asymsam-scripts
	branch = main
