[submodule "asymsam-api"]
	path = api
	url = https://github.com/eliocamp/asymsam-api
[submodule "asymsam-scripts"]
	path = scripts
	url = https://github.com/eliocamp/asymsam-scripts
[submodule "asymsam-web"]
	path = web
	url = https://github.com/eliocamp/asymsam-web
